
<div class='row'>
    <div class=' offset-md-0 col-xs-12 offset-md-3 col-md-9'>
        <a class='btn btn-success' routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}'>Home</a>
        <a routerLink='/login' routerLinkActive='active'>Login</a>
        <a routerLink='/quiz' routerLinkActive='active'>Quiz</a>
        <a routerLink='/complete' routerLinkActive='active'>Complete</a>
        <a routerLink="/website" routerLinkActive="active">Website</a>
    </div>
</div>
