<div class="row">
  <div class="col-6">

    <p>
      quiz works! {{this.name}}
    </p>
    <p>{{this.jokeService.joke}}</p>
  </div>
  <div class="col-6">


    <form #user="ngForm" (submit)="formSubmited(user)">
      <div class="form-group">
        <input [ngModel]="name" name='name' class="form-control" type="text"/>
      </div>
      <div class="form-group">
        <select name="select" ngModel>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div class="form-group">
        <button class="form-control bg-success">Submit</button>

      </div>

    </form>
    <pre>{{user.value | json}}</pre>
    <p>{{user.value.name}}</p>
  </div>

</div>

