<p (click)='changeTitle()'>
  home works!
</p>

<div class="row">
  <div appSurprise=""  class="col-6 col-sm-8 bg-info">
    this is test
    <h5>This is your daily joke {{jokeService.joke}}</h5>
  </div>


  <div class="col-6 col-sm-4 bg-warning">
    this is another test
    <ul>
      <a *ngFor="let quiz of this.squizes; let i  =index" routerLink="/quiz/{{quiz.category}}">
      <li >
        {{i}}. {{quiz.category}} {{quiz.data}}

      </li>
      </a>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-2 ">
    <p>yow this is starting point from which</p>

  </div>
  <div class="offset-2 col-1 ">
    hlow
  </div>
  <div class="offset-3 col-4">
    <form novalidate #nameForm='ngForm' (submit)="setName(nameForm)" class="">
      <div class="form-group">
        <label for='name' class="form-control-label">Your Name</label>
        <input years="1995" minlength="4" required="" #name="ngModel" ngModel="" id='name' name="name" type="text"  class="form-control"/>
        <show-errors [control]="name"></show-errors>

      </div>
      <div class="form-group">
        <label class='form-control-label' for="age">Age</label>
        <input pattern="[0-9]+" type='number' required="" class='form-control' id="age" name="age" ngModel="" #age="ngModel"/>
        <show-errors [control]="age"></show-errors>
      </div>
      <button class="btn btn-success" [disabled]="!nameForm.form.valid">submit</button>
      <span class="btn btn-danger" (click)="this.setNextFlash()">Flash</span>
      <pre>{{name.value | json}}</pre>
    </form>
  </div>
</div>
<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

  <div *ngIf="name.errors.required">
    Name is required.
  </div>
  <div *ngIf="name.errors.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="name.errors.forbiddenName">
    Name cannot be Bob.
  </div>

</div>
